<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://popcon.co.in:3306/popconco_popconco?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">popconco_popcon</property>
    <property name="hibernate.connection.password">Yogesh@318899</property>
    <mapping resource="co/in/popcon/hibernate/ProductByColor.hbm.xml"/>
    <mapping resource="co/in/popcon/hibernate/ProductDetail.hbm.xml"/>
    <mapping resource="co/in/popcon/hibernate/SecondSubcategory.hbm.xml"/>
    <mapping resource="co/in/popcon/hibernate/FirstSubcategory.hbm.xml"/>
    <mapping resource="co/in/popcon/hibernate/ProductSize.hbm.xml"/>
    <mapping resource="co/in/popcon/hibernate/ProductByColorImages.hbm.xml"/>
    <mapping resource="co/in/popcon/hibernate/MainCategory.hbm.xml"/>
    <mapping resource="co/in/popcon/hibernate/SizeStockByColor.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
